@model IEnumerable<FakeAPI.Models.Todo>

@{
    ViewData["Title"] = "GetAllTodo";
}

<h1>Lists of Todo</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
                <td>
                <td><a asp-controller="Todo" asp-action="Details" asp-route-id="@item.Id">Details</a></td>
                <td><a asp-controller="Todo" asp-action="Update" asp-route-id="@item.Id">Update</a></td>
                <td><a asp-controller="Todo" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                </td>
            </tr>
        }
    </tbody>
</table>
